:nth-child(6 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 3%;
	--darken: 0%;
	--overlay: var(--grd-darken);

	font-size: 2rem;

	.header,
	.footer {
		font-size: 1.75rem;
	}

	.footer {
		--col-1: 12rem;
	}

	.ttl-group {
		gap: 1rem;
	}

	.sub {
		font-size: 0.675em;
	}

	.txt {
		font-size: 1rem;
		position: relative;
		top: 0.66rem;
	}

	.photo {
		--pos: 4rem;

		scale: 1.1;
	}

	[alt="background-image"] {
		scale: 1.05;
	}
}
