:nth-child(6 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 11%;
	--darken: 0%;
	--overlay: var(--grd-darken2);
	--pos: left;

	font-size: 2rem;
	/* border-radius: 2.5rem; */

	.header {
		/* --col-1: 15rem; */
		--gap: 1rem;
		/* --gtc: auto; */
		/* --gtc: 5rem 12rem; */
		/* --gtc: 9rem; */
	}

	.header,
	.footer {
		font-size: 2rem;
	}

	.sub {
		font-size: 0.8em;
	}

	.ttl {
		position: relative;
		top: 10%;
	}

	.txt {
		position: relative;
		top: 50%;
		font-size: 0.5em;
	}

	.photo {
		--pos: 4rem;

		scale: 1.1;
	}

	[alt="background-image"] {
		scale: 1.05;
	}
}
