:nth-child(20 of .slide) .img-maker {
	--w: 1280px;
	--asp: 16 / 9;
	--body-y: 0%;
	--darken: 50%;
	/* --overlay: var(--grd-darken); */
	--pos: left;
	--gap: 1rem;
	/* --gtc: auto; */
	/* --col-1: 17.33rem; */

	font-size: 6rem;

	.body {
		--gtc: auto;

		place-self: center;
		position: absolute;

		.logo {
			position: relative;
			left: 1.1%;
		}
	}
	.ttl-group {
		text-align: center;
		gap: 0rem;
	}
}
