:nth-child(9 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 15%;
	--darken: 0%;
	--overlay: var(--grd-darken);
	--pos: left;

	font-size: 2.75rem;

	.header,
	.footer {
		font-size: 1.75rem;
	}

	.sub {
		font-size: 0.675em;
	}

	.ttl-group {
		--gap: 0.5rem;
	}
}
