:nth-child(1 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 35%;
	/* --darken: 20%; */
	--overlay: var(--grd-darken);
	--pos: 0%;

	font-size: 2.25rem;

	.header,
	.footer {
		font-size: 1.75rem;
	}

	.ttl-group {
		--gap: 0.5rem;

		.sub {
			font-size: 0.69em;
		}
	}
}
