.__slide-2 {
	background-image: url(/images/bgs/bg-triangles-right-bottom.svg);
	background-size: 15%;
	background-position: right 0 bottom 0;
}

.__slide-2 .img-maker {
	--mod: 1.25;
	--w: 900px;
	--asp: 9 / 6;
}
