:nth-child(4 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 30%;
	--darken: 10%;
	--overlay: var(--grd-darken3);
	--bg-pos: left;

	font-size: 2rem;

	.header {
		font-size: 1.75rem;

		.tag {
			color: var(--clr-0a);
			background-image: var(--grd-1b-1a);
		}
	}

	.sub {
		font-size: 0.675em;
	}
}
