:nth-child(2 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	/* --w: 900px; */
	/* --asp: 3 / 2; */
	--body-y: 8%;
	--darken: 0%;
	--overlay: var(--grd-darken2);
	--bg-pos: left;

	font-size: 3rem;

	/* border-radius: 2.5rem; */
	.header,
	.footer {
		font-size: 1.75rem;
	}

	.header {
		--gap: 0.75rem;
		--gtc: auto;

		.txt {
			font-size: 0.7em;
		}
	}

	.ttl-group {
		gap: 1.25rem;
	}

	.sub {
		font-size: 0.615em;
	}

	.header .tag + .txt {
		text-align: center;
	}
}
