:nth-child(23 of .slide) .img-maker {
	--w: 1280px;
	--asp: 16 / 9;
	--body-y: -7%;
	--darken: 0%;
	--overlay: var(--grd-darken);

	font-size: 4.5rem;

	.header,
	.footer {
		font-size: 2.5rem;
	}

	.footer {
		--col-1: 20rem;
	}

	.ttl-group {
		gap: 1rem;
	}

	.sub {
		font-size: 0.675em;
	}

	.txt {
		font-size: 0.33em;
	}

	.photo {
		--pos: 260% 5rem;
	}
}
