:nth-child(1 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 40%;
	--darken: 25%;
	--overlay: var(--grd-darken3);
	--pos: 20%;

	font-size: 1.75rem;

	.header,
	.footer {
		font-size: 1.75rem;
	}

	.ttl-group {
		--gap: 0.5rem;

		.sub {
			font-size: 0.66em;
		}
	}
}
