:nth-child(13 of .slide) .img-maker {
	--w: 900px;
	--asp: 9 / 6;
	--body-y: 25%;
	--darken: 33%;
	--overlay: var(--grd-darken);
	--pos: left;

	font-size: 4rem;
	border-radius: 2.5rem;

	.header {
		--col-1: 15rem;
	}

	.ttl-group {
		gap: 1rem;
	}
}
