:nth-child(3 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 25%;
	--darken: 0%;
	--overlay: var(--grd-darken);
	--bg-pos: left;

	font-size: 3rem;

	.header {
		font-size: 1.75rem;
	}
}
