/* ||||| ||||| ||||| ||||| ||||| ||||| ||||| ||||| ||||| ||||| slide 14 */
:nth-child(14 of .slide) .img-maker {
	--w: 1280px;
	--asp: 16 / 9;
	/* --overlay: var(--gradient-2); */
	/* --w: 1600px;
	--mod: 1.25; */

	--body-x: 0;
	--body-y: 0%;
	--darker: 0%;

	/* ||||| ||||| ||||| ||||| ||||| header */
	--display-logo: block;
	--display-header: none;
	--display-header-tag: none;
	--display-header-txt: none;

	--fs-top: 1.75rem;
	--header-txt: 0.6em;

	/* ||||| ||||| ||||| ||||| ||||| body */
	/* --display-body: none; */
	--display-sub: none;
	--display-sub-txt: none;

	--fs-ttl: 5rem;
	--fs-sub: 4rem;
	--gap-ttl-sub: 1em;

	.logo {
		--logo-size: 8ch;

		font-size: var(--fs-ttl);
	}

	/* ||||| ||||| ||||| ||||| ||||| footer */
	--display-footer: none;
	/* --display-footer-tag: none; */
	--display-footer-txt: none;
	--display-footer-txt-sub: none;

	--fs-btm: 2.5rem;

	.body {
		place-items: center;
	}
}
