:nth-child(8 of .slide) .img-maker {
	--w: 900px;
	--asp: 9 / 6;
	--body-y: 20%;
	--darken: 0%;
	--overlay: var(--grd-darken);
	--pos: left;

	font-size: 6rem;

	.header {
		--col-1: 15rem;
	}

	.ttl-group {
		gap: 0;
	}
}
