:nth-child(17 of .slide) .img-maker {
	--w: 1280px;
	--asp: 16 / 9;
	--body-y: 10rem;
	--darken: 0%;
	--overlay: var(--grd-darken2), var(--grd-darken3);
	--pos: 0%;

	font-size: 4rem;
	/* border-radius: 2.5rem; */

	.header {
		--col-1: 17rem;
	}

	/* .ttl-group {
		gap: 1.5rem;
	} */

	.sub {
		font-size: 0.69em;
	}

	.footer {
		--gap: 1rem;

		font-size: 2.5rem;

		.txt {
			font-size: 0.75em;
		}

		.tag {
			border-radius: 0.3em 0.5em 0.5em 0.3em;
		}
	}
}
