:nth-child(2 of .slide) .img-maker {
	--w: 700px;
	--asp: 7 / 5;
	--body-y: 10%;
	--darken: 0%;
	--overlay: var(--grd-darken);
	--bg-pos: left;

	font-size: 2.75rem;

	.header,
	.footer {
		font-size: 1.75rem;
	}

	.header {
		--gap: 0.75rem;
		--gtc: auto;
	}

	.header .tag + .txt {
		text-align: center;
	}
}
