:nth-child(11 of .slide) .img-maker {
	--w: 1280px;
	--asp: 16 / 9;
	--body-y: 5%;
	--darken: 0%;
	--overlay: var(--grd-darken);
	--pos: left;

	font-size: 4.5rem;

	.header {
		--col-1: 17rem;
	}

	.header,
	.footer {
		font-size: 2.5rem;

		.txt {
			font-size: 1em;
		}
	}
}
