:nth-child(11 of .slide) .img-maker {
	--w: 900px;
	--asp: 9 / 6;
	--body-y: 10%;
	--darken: 0%;
	--overlay: var(--grd-darken);
	--pos: left;

	font-size: 3.5rem;
	border-radius: 2.5rem;

	.header {
		--col-1: 15rem;
	}

	.header,
	.footer {
		font-size: 2rem;
	}

	.sub {
		font-size: 0.6em;
	}
}
