.img-maker {
	--gradient-1: linear-gradient(
		30deg,
		hsl(var(--clr-1a)) -33%,
		hsl(var(--clr-1b)) 133%
	);
	--gradient-2: linear-gradient(
		90deg,
		hsla(250 60% 5% / 70%) 15%,
		hsl(250 60% 5% / 0%) 65%
	);
	--clr-solid: hsl(var(--clr-0a));
	--img-w: min(var(--w), 100%);

	width: var(--img-w);
	aspect-ratio: var(--asp);
	padding: 2.5rem;
	display: grid;
	grid-template-rows: min-content auto min-content;
	line-height: 1.1;
	/* background-color: hsl(var(--clr-0b)); */
	background: var(--clr-1b-1a);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	outline: 2px dashed hsl(var(--clr-0a));
	outline-offset: -4px;
}
.img-maker::before {
	position: absolute;
	content: "";
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: hsl(0 0% 0% / var(--darker, 0));
	background-image: var(--overlay, none);
	/* mix-blend-mode: overlay; */
	/* filter: saturate(1.5); */
}

.header,
.footer,
.body {
	display: grid;
	place-items: center start;
	grid-template-columns: max-content auto;
	column-gap: 1em;
	z-index: 1;
}

.tag {
	--clr-solid: hsl(var(--clr-0b));

	display: var(--display-header-tag, grid);
	background-color: hsl(var(--clr-0a));
	border-radius: 0.5em;
	padding: calc(0.5em * var(--mod, 1)) calc(1em * var(--mod, 1));
	font-weight: var(--fw-eb);
	line-height: 1;
	text-align: center;
}

.logo {
	width: calc(var(--logo-size) * var(--mod, 1));
	display: var(--display-logo, block);
}

/* |||||||||| |||||||||| |||||||||| |||||||||| header */
.header {
	font-size: var(--fs-top);
	display: var(--display-header, grid);
	grid-row: 1;

	.txt {
		display: var(--display-header-txt, block);
		font-size: var(--header-txt);
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| body */
.body {
	display: var(--display-body, grid);
	grid-template-columns: auto;
	place-items: center start;
	grid-row: 2;
	margin-top: var(--body-y, 0);
	margin-left: var(--body-x, 0);

	.group {
		display: grid;
		row-gap: calc(var(--gap-ttl-sub) * var(--mod, 1));
		column-gap: calc(var(--gap-img-ttl) * var(--mod, 1));
		align-items: center;
	}

	.ttl {
		font-size: calc(var(--fs-ttl) * var(--mod, 1));
		font-weight: var(--fw-eb);
		color: hsl(var(--clr-0a));
	}

	.sub {
		font-size: calc(var(--fs-sub) * var(--mod, 1));
		/* font-weight: var(--fw-eb); */
		display: var(--display-sub);
		/* line-height: 1; */
	}
	.sub p:nth-child(2n) {
		font-size: 0.66em;
		display: var(--display-sub-txt, block);
	}
}

/* |||||||||| |||||||||| |||||||||| |||||||||| footer */
.footer {
	display: var(--display-footer, grid);
	font-size: calc(var(--fs-btm) * var(--mod, 1));
	grid-row: 3;

	.tag {
		display: var(--display-footer-tag, grid);
	}

	.txt {
		font-size: var(--fs-btm-txt);
		display: var(--display-footer-txt, block);
	}

	.txt :nth-child(2n) {
		font-size: 0.66em;
		display: var(--display-footer-txt-sub, block);
		margin-top: 0.5em;
	}
}
